<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Ce projet n'utilise pas Bootstrap. Il faut éviter Bootstrap dans les projets Angular -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="artist.component.css" />
    <title>TP2</title>
  </head>
  <body>
    <main>
      <div class="row">
        <div class="search">
          <h3 translate>artist.titre1</h3>
          <form>
            <input [(ngModel)]="inputArtist" type="text" name="inputArtist" placeholder="Rechercher un artiste ..." translate>
            <button (click)="searchArtist()" translate>Ajouter aux favoris</button>
          </form>
        </div>
        <div class="display">
          <h3 translate>Vos artistes</h3>
          <div class="text-center" *ngIf="favoriteArtists?.length == 0">
            <p translate>Aucun artiste favoris</p>
          </div>
          <div class="row">
            <!-- Liste d'artistes ajoutés aux favoris -->
            <div *ngFor="let x of favoriteArtists">
                <h4>{{x.name}}</h4>
                <img [src]="x.imageUrl" width="212.39" height="212.39" />
                <button [routerLink]="['/album', x.id]" translate>Albums</button><button [routerLink]="['/show', x.name]" translate>Concerts</button>
            </div>
          </div>
          <div class="text-center">
            <button (click)="clearFavoriteArtist()" translate>Vider les favoris</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
