<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Ce projet n'utilise pas Bootstrap. Il faut éviter Bootstrap dans les projets Angular -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="show.component.css">
</head>
<body>
    <main>
        <h3>{{artistName}} - <span translate>show.titre1</span></h3>
        <div class="row">
            <google-map class="map" [zoom]="2" width="100%">
                <map-marker *ngFor="let x of markerPositions" [position]="x">
                </map-marker>
            </google-map>
            <div class="shows">
                 <!-- Liste des concerts -->
                 <div *ngFor="let x of showList">
                    <h4>{{x.datetime | date : 'medium' : undefined : language}}</h4>
                    <p><span translate>show.pays</span> {{x.venue.country}}</p>
                    <p><span translate>show.ville</span> {{x.venue.city}}</p>
                </div>
            </div>           
        </div>
    </main>
</body>
</html>