<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Ce projet n'utilise pas Bootstrap. Il faut éviter Bootstrap dans les projets Angular -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="album.component.css">
</head>
<body>
    <main>
        <div class="row">
            <div class="albums">
                <h3>{{artistName}} - <span translate>album.titre1</span></h3>
                <div class="row">
                    <!-- Liste d'albums d'un artiste choisi -->
                    <div *ngFor="let x of albumList">
                        <h4>{{x.name}}</h4>
                        <img [src]="x.imageUrl" alt="x.name"/>
                        <button [routerLink]="['/song', x.id, x.name, artistName]" translate>album.chansons</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>